@import 'tailwindcss';

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4) !important;
}

button:active {
    transform: translateY(0) !important;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}